.pagination-ul {
  margin-top: 2rem;
}

.pagination-li {
  display: inline;
}

.pagination-break {
  display: block;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: rgba(0, 157, 255, 0.9);
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.pagination-a {
  position: relative;
  float: left;
  height: 3.2rem;
  width: 3.2rem;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.42857143;
  color: rgba(120, 120, 120, 1);
  text-decoration: none;
  border-radius: 10000px;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
}

.pagination-a.active {
  background-color: rgba(0, 157, 255, 0.9);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
